<%= link_to 'Nueva habitacion', new_room_path, class: 'btn btn-success pull-right' %>
<h1 class="page-header">Rooms</h1>
<table class="table table-stripped table-condensed">
  <tr>
     <th>Nombre</th>
     <th>Descripcion</th>
     <th></th>
  </tr>
  <% @rooms.each do |room| %>
    <tr>
      <td><%= link_to room.name, room_path(room) %></td>
      <td><%= room.description %></td>
      <td>
        <%= link_to "Editar", edit_room_path(room) %>
      </td>
    </tr>
  <% end %>
</table>
